.portfolio {
  margin: 3rem;
}
.swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: var(--color-primary-variant) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}
.project-item {
  margin-top: 2rem;
  color: white;
  background: var(--color-bg-variant) !important;
  text-align: center !important;
  border-radius: 2rem !important;
  margin-bottom: 3rem;

  @apply h-[27rem] !important;
}
@media screen and (max-width: 1024px) {
  .project-item {
    margin-top: 0.2rem;
  }
}
.portfolio__item-img img {
  @apply h-72 rounded-t-3xl w-auto font-black object-contain !important;
  border: 1px solid var(--color-bg-variant);
}
.project-title {
  @apply text-xl !important;
  line-height: 1px !important;
  padding: 0 !important;
}
.project-pre-title {
  @apply text-sm italic underline !important;
}
.project-description {
  @apply text-slate-300 text-sm !important;
  margin-top: -1rem !important;
}
.portfolio__item-cta {
  /* @apply bg-red-500; */
}
.project-details {
  line-height: 0%;
  /* background-color: red; */
  margin-top: 1rem;
}
