.portfolio__container {
  display: grid;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  /* padding-bottom: 3rem !important; */
  padding: 0rem 3rem 3rem 3rem !important;
}

.porfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  transition: var(--transition);
}

.porfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
  transform: scale(1.1) !important;
}

.portfolio__item-img {
  border-radius: 1.5rem;
  overflow: hidden;
  aspect-ratio: 1/1;
}

.porfolio__item h3 {
  margin: 1.2rem 0 0;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
  margin-top: 1.8rem;
}

/* ============================= Media Queries (MEDIUM DEVICES) ================================= */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .porfolio__item:hover {
    transform: none;
  }
}

/* ============================ Media Queries (Small Device) ===== */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .porfolio__item {
    margin-right: 1rem;
    padding: 1rem;
  }
  .porfolio__item h3 {
    /* margin: 1rem 0 2rem; */
    font-size: 0.9rem;
  }
  .description {
    /* color:red !important; */
    font-size: 0.6rem;
    justify-content: center;
  }
  .portfolio__item-cta {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    /* margin-left: rem; */
  }
}
