.portfolio{
  margin:3rem;
  padding-top:1rem;
  
  /* line-height: 0%; */
}
.swiper-pagination-bullet.swiper-pagination-bullet {
  background-color: var(--color-primary-variant) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}
.project-item {
 
  margin-top:2rem;
  color: white;
  background: var(--color-bg-variant) !important;
  text-align: center !important;
 border-radius: 2rem !important;
  margin-bottom: 3rem;

  @apply h-96 !important;
}

.portfolio__item-img img{
@apply h-64 rounded-t-3xl w-auto font-black !important;
border:1px solid var(--color-bg-variant);
}
.project-title{
  @apply text-xl !important;
  line-height:1px !important;
  padding: 0 !important;

}
.project-pre-title{
  @apply text-sm italic underline !important;
}
.project-description{
  @apply text-slate-300 text-sm !important;
  margin-top: -1rem !important;
}
.portfolio__item-cta{
  /* @apply bg-red-500; */
}
.project-details{
  line-height: 0%;
  /* background-color: red; */
  margin-top: 1rem;

  
}