header {
  height: 100vh;
  padding-top:2rem;
  overflow: hidden;
}

.home__container {
  text-align: center;
  height: 100%;
  position: relative;
}

/* =============== CTA =================== */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ======================== HOME SOCIALS ================ */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 1;
  bottom: 3rem;
}


.icon{
  background: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 0.2rem; 
  font-size: 1rem; 
}
.whatsaap{
  /* background-color: red !important; */
  color:green;
  /* background: green; */
}

.phone{
  color:black;
}
.mail{
  color:rgb(2, 114, 167);
}
.linkedIn{
  color:blue;
  padding: .3rem;
}
.github{
  color:rgb(39, 39, 39)
}
.icon:hover{
  background: grey;
  transform:scale(1.2);
}

.mobileIcon{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin:2rem 0;
  background-color: var(--color-primary);
  padding: .5rem 2rem;
  border-radius: 1rem;
  display: none;
}


.M_icon{
  background: white;
  border-radius:50%;
  padding: 0.5rem; 
  font-size: 1.4rem; 
}
.M_icon:hover{
  background: rgba(70, 70, 70, 0.5);
  transform:scale(1.1);
}




.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}

/* ============================== ME ================== */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 20rem;
  /* height: 30rem; */
  /* position:absolute; */
  /* left: calc(50%-11rem);  */

  /* height: 52vh; */
  /* transform: translatex(110%); */
  margin-top: 1rem;
  border-radius: 12rem 12rem 0 0;
  /* position: relative; */




}


.me::before {
	position: absolute;
	top: 2%;
	left: -30%;
	z-index: 2;
	display: block;
	content: '';
	width: 40%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.158) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-5deg);
	transform: skewX(-25deg);
  display: none;
  
}
.me:hover::before {
  display: block;
	-webkit-animation: shine .75s;
	animation: shine .9s;
  
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}







.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.rigtSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  right: -4rem;
  bottom: 3rem;
}
.rigtSide::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}
.scroll__down {
  letter-spacing: .4rem; 
  transform: rotate(90deg);
  margin-bottom: 4rem;
  color:white;
}
.scroll__down:hover{
  opacity: .6;
}








/* ============================= Media Queries (MEDIUM DEVICES) ================================= */

@media screen and (max-width: 819px) {
  .header__socials,
  .scroll__down {
    display: none;
  }
  .mobileIcon{
   
    display: flex;
  }
}




.custom_btn{
  display: flex;
  width: 12rem;
  align-items: center;
  justify-content: center;
}

.name{
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}


.animated-welcome{
  /* background: red; */
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* width:20vw;
  height: 40vh; */
}
.mobileview-welcome{
  display: none;
}

@media screen and (max-width:769px){
  .animated-welcome{
    display: none;
   
  }
  .mobileview-welcome{
    display: block;
  }
}