.container.contact__container{
    
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 12%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact__option{
    background:var(--color-bg-variant);
    padding:1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent;
    background-color: var(--color-primary-variant);
    transform: scale(1.1);
}

.contact__option-icon{
   font-size: 1.5rem;
   margin-bottom: 0.5rem;

}
.contact__option a{
    margin-top: 0.7rem;
    font-size: 0.8rem;
}


/*====================== FORM =======================*/
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    padding-bottom: 1rem;
}
.form__textarea{
    border:1px solid rgba(109, 109, 109, 0.575) !important;
    border-radius: .4rem;
    padding:.7rem;
    font-size: 1rem;
    /* background-color: red !important; */
    
}
.btn_form{
    margin:0
}









/* ============================= Media Queries (MEDIUM DEVICES) ================================= */
@media screen and (max-width:1024px){
   .container.contact__container{
    grid-template-columns: 1fr;
    gap: 2rem;
    width: var(--container-width-md);
   }
    
}


/* ============================ Media Queries (Small Device) ===== */
@media screen and (max-width:600px){
    .container.contact__container{
        width: var(--container-width-sm);
       }
    
}