footer{
    background:var(--color-primary-variant);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
    color: black !important;
  

}

.footer__logo{
    color: rgb(82, 82, 82);
    /* font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem; */
display: inline-block;    
width: 5rem;
}
.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
   
}
li a{
    color:white;
}
li a:hover{
    transform: scale(1.1);
    color: rgb(180, 180, 180);
}
.footer__social{
display: flex;
justify-content: center;
font-size: 1.2rem;
gap: 1rem;
margin-bottom: 4rem;

}
.footer__social a{
    background:var(--color-primary);
    color: var(--color-white);
    padding:0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}
.footer__social a:hover{
    background-color: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.footer__copyright{
    margin-bottom: 2.5rem;
    color: rgb(194, 193, 193);
}


/* ============================= Media Queries (MEDIUM DEVICES) ================================= */
@media screen and (max-width:1024px){
    
}


/* ============================ Media Queries (Small Device) ===== */
@media screen and (max-width:600px){
   .permalinks{
    flex-direction: column;
    gap: 1.5rem;
   }
   .footer__social{
    margin-bottom: 2.6rem;
   }
}