.testimonials__container {
  width: 80%;
  padding-bottom: 2rem !important;
  
}
.client__avator {
  width: 4rem !important;
  aspect-ratio: 1/1 !important;
  overflow: hidden !important;
  border-radius: 50% !important;
  margin: 0 auto 1rem !important;
  border: 0.4rem solid var(--color-primary-variant) !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet{
    background-color:var(--color-primary-variant) !important;

}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color:var(--color-primary) !important
}
.testimonial {
  background: var(--color-bg-variant) !important;
  text-align: center !important;
  padding: 2rem!important;
  border-radius: 2rem!important;
  user-select: none!important;
  @apply h-[27rem] sm:h-[16rem] md:h-[20rem] lg:h-[15rem] !important;
}

.client__comment {
  color: var(--color-light) !important;
  font-weight: 300 !important;
  display: block !important;
  width: 80% !important;
  margin: 0.8rem auto 0 !important;
}
/* ============================= Media Queries (MEDIUM DEVICES) ================================= */
@media screen and (max-width: 1024px) {
  .testimonials__container {
    width: 60%;

  }
  .testimonial__lottie{
  display: none;
  }
 
}

/* ============================ Media Queries (Small Device) ===== */
@media screen and (max-width: 600px) {
  .testimonials__container {
    width: var(--container-width-sm);
  }
  .client__comment {
    width: var(--container-width-sm);
  }
  .testimonial__lottie{
    display: block;
    
    }
  

}
.client__name{
  color:white;
}

