.tool__container{
   margin-top: 1rem !important;
    background:var(--color-bg-variant);
    padding:2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition:var(--transition);

}
.tool__container:hover{
    background:transparent;
    border-color: var(--color-color-primary-variant);
    cursor: default;
}
.tool__container h2{
    text-align: center;
    margin-bottom: 2rem;
    color:var(--color-primary)
}
.tool__container h5{
    text-align: center;
 
}
.tool__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
}
.tool__detail{
    display: flex;
    
}
.tool__icon{
    margin-top: 3px;
    margin-right: 1rem;
    color:var(--color-primary)
}








/* ================================Media Queries(Medium Devices)===================================== */
@media screen and (max-width:1024px){
    /* #tool{
        margin-top: 30rem;
    } */
    /* .tool__container{
        grid-template-columns: 1fr;
    } */
    .tool__container{
        width: 68% !important;
        /* padding:2rem; */
        margin:2rem auto !important;
    }
    /* .tool__content{
       padding: 1rem;; 
    } */
}
/* ================================Media Queries(small Devices)===================================== */

@media screen and (max-width:600px){

    .tool__container{
        width: 90% !important;
        margin-top: 1rem !important;
        padding:2rem 2rem;
        /* background-color: red; */
    }
    .tool__content{
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        row-gap: 2rem !important;
    }
}
